@font-face {
  font-family: 'Italiana';
  font-style: normal;
  font-weight: 400;
  src: local('Italiana'), local('Italiana-Regular'),
       url('../fonts/italiana-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/italiana-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* great-vibes-regular - latin */
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: local('Great Vibes'), local('GreatVibes-Regular'),
       url('../fonts/great-vibes-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/great-vibes-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}        
/* pinyon-script-regular - latin */
@font-face {
  font-family: 'Pinyon Script';
  font-style: normal;
  font-weight: 400;
  src: local('Pinyon Script'), local('PinyonScript'),
       url('../fonts/pinyon-script-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/pinyon-script-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}    

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 240px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #000000; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px;
  background: "http://digitalemil.de/checkerboard.jpg";
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #A0A0A0;
  display: block;
  font-family: "Italiana", regular; font-size: 24px; 
}

.sidenav a:hover {
  color: #727272;
}

.sidenav li {
  list-style: none;
}

.main {
  margin-right: 240px; /* Same as the width of the sidebar */
  padding: 0px 0px;
}

a {
  padding: 6px 8px 6px 16px;
  text-decoration: underline;
  font-size: 25px;
  color: #A0A0A0;
  display: block;
  font-family: "Italiana", regular; font-size: 24px; 
}

a:hover {
  color: #727272;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body {
background-repeat: repeat;
background-position: center;

}
input { 
    border: none;
    background: transparent;
    font-family: "Italiana", regular; font-size: 24px; color: #202020; text-align: center
}
input:focus {
    outline: none !important;
    border:1px solid 504848;
    box-shadow: 0 0 10px #252424;
}
button { 
  font-family: "Italiana", regular; font-size: 24px; color: #202020; text-align: center
}
