<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>The Gym</title>

</head>
<body>
<div id="alldiv">
  <div class="main">
	  <iframe id='iframe' frameBorder="0" scrolling="no" width="100%" height="100%" style="position: absolute; top: 0px; left: 0px;"></iframe>
  </div>
  <div class="sidenav">
	<a id="home" class="innerbox" onclick='document.getElementById("iframe").src="home.html";'>Home</a>
	<a id="architecture" class="innerbox" onclick='document.getElementById("iframe").src="arch.html"'>View Architecture</a>
	<a id="model" class="innerbox" onclick='document.getElementById("iframe").src="model.html";'>Model</a>
	<a id="inputdata" class="innerbox" onclick='document.getElementById("iframe").src="data.html";'>Input Data</a>
	<a id="Google Maps" class="innerbox" onclick='document.getElementById("iframe").src="map.html";'>Google Maps</a>
	<a id="listener" class="innerbox" onclick='document.getElementById("iframe").src="listener.html";'>Listener</a>  
	<a id="jupyter" class="innerbox" onclick='document.getElementById("iframe").src="jupyter.html";'>Jupyter Notebook</a>
	<a id="1000messages" class="innerbox" onclick='document.getElementById("iframe").src="1000messages.html";'>Data as CSV</a>  
    <a id="about" class="innerbox" onclick='document.getElementById("iframe").src="version.html";'>About</a>  
</div>
</div>

<script>
		var l = document.getElementById('home');
		l.click();
		document.getElementById('iframe').contentWindow.focus();
</script>

</body>
</html>
