<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>

</head>
<body style="background-image:url('images/thegym.jpg')">
	<div id="alldiv">
                <div id="text" class="centerDiv" style="color: #A0A0A0; position: absolute; left: 64px; top: 64px; width: calc(100% - 240px); color: #A0A0A0; display: block; font-family: 'Italiana', regular; font-size: 24px; ">
		
                        <form action="setlisteners">
                                <table>
                                <tr>
                                <td style="color: #A0A0A0; width: 20%;height: 5%;font-family: 'Italiana', regular; font-size: 24px;">Number of listeners:</td>
                                <td><input id='nl' name="nl" style='width: 10%;height: 5%;background-color: #A0A0A0;' type='text' value='<%= nl %>'></input>
                                </td> 
                                </tr>
                                <td>      
                                </td>
                                <td>
                                        <input style="width: 20%;height: 5%;font-family: 'Italiana', regular; font-size: 24px;background-color: #A0A0A0;" type="submit">
                                </td>
                                </table>
                        </form>
        	</div>
	</div>
<script>
</script>
</body>
</html>
